<h1>Polymorphic User Devise/Omniauth/Cancan Test</h1>
<h3>Sign up or log in!</h3>

<%= link_to "Log in with twitter", "/users/auth/twitter" %>
<br>
<%= link_to "Log in with facebook", "/users/auth/facebook" %>
<br>
<%= link_to "Sign up user type 1", signup1_path %>
<br>
<%= link_to "Sign up user type 2", signup2_path %>
