<h1>Users List</h1>
<table>
<% @users.each do |u| %>
  <tr>
    <td><%= link_to u.email, user_path(u) %></td>
    <td><%= u.type_type %></td>
    <td><%= u.type_id %></td>
    <td><%= link_to "Destroy", user_path(u), :method => :delete %>
  </tr>
<% end %>
</table>
