<h1>Things2s index</h1>
<table>
<% @things.each do |thing| %>
  <tr>
    <td>Name: <%= link_to thing.thing_name, thing2_path(thing) %></td>
    <td><%= link_to "Destroy", thing2_path(thing), :method => :delete %></td>
  </tr>
<% end %>
</table>
